.ipynb_checkpoints/
*.pyc
__pycache__/
saved_models/
figs/
deprecated/
.DS_Store
*/.ipynb_checkpoints/*
*/. DS_Store/*
.db
.owncloudsync.log
.db-shm
.db-wal
.sync_5de6efbf0140.db-shm
*.h5
*.pth
/wavebench_dataset/MNIST/
/wavebench_dataset/time_harmonic/anisotropic
/wavebench_dataset/time_harmonic/isotropic
/wavebench_dataset/time_harmonic/*.beton
/wavebench_dataset/time_varying/mnist
/wavebench_dataset/time_varying/thick_lines
/wavebench_dataset/time_varying/is/*.beton
/wavebench_dataset/time_varying/is/*.npy
/wavebench_dataset/time_varying/rtc/*.beton
/wavebench_dataset/time_varying/rtc/*.npy
/wavebench_dataset/time_varying/thick_lines
/internals
/wavebench.egg-info/
